$sm: 768px;
.copyTradingCompareBox {
  display: flex;
  border: 1px solid var(--fill_line_2);
  border-bottom: none;

  .compareBoxItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 147px;
    &:not(:last-child) {
      border-right: 1px solid var(--fill_line_2);
    }
    :global(.icon-radio) {
      @media (max-width: $sm) {
        flex-direction: column;
         gap: 8px;
        :global(.icon-span) {
          font-size: 12px!important;
          width: 50px;
        }
      }
    }
  }
}
