.copyTradingTradingList {
}
.symbolList {
  .symbolHeaderItem {
    display: flex;
    align-items: center;
    .symbolLogoImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .symbolName {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: var(--text-primary);
    }
    .symbolType {
      color: var(--text-primary);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin-left: 8px;
    }
    .symbolTadingType {
      display: flex;
      padding: 4.5px 16px;
      align-items: center;
      border-radius: 4px;
      background: var(--fill-3);
      color: var(--text-secondary);
      margin-left: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .symbolLeverage {
      display: flex;
      padding: 4.5px 16px;
      align-items: center;
      border-radius: 4px;
      background: var(--Color-Brand-green_light, rgba(42, 178, 108, 0.1));
      color: var(--color-green);
      margin-left: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .symbolLeverageUp {
      margin-right: 8px;
    }
    .symbolTadingTime {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: var(--text-tertiary);
      margin-left: 8px;
    }
  }
  .symbolItemContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-right: 40px;
  }
  .symbolListInfo {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--text-primary);

 
  }
  .symbolListTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--text-tertiary);
    margin-bottom: 26px;
    &:nth-of-type(2){
        margin-bottom: 0px;
    }
  }
  .symbolListDesc{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 26px;
    &:nth-of-type(2){
        margin-bottom: 0px;
    }
  }
  .symbolListTitleInfo {
    margin-right: 8px;
    color: var(--text-tertiary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .symbolListware {
    display: flex;
    align-items: start;
  }
  .symbolTradingBtn{
    padding: 10px 52px;
    border-radius: 24px;
background: var(--brand, #07828B);
display: flex;
align-items: center;
justify-content: center;
color: var(--text-white);
cursor: pointer;

  }
  .symbolItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }
}
