
$sm: 768px;

.copyTradingCompare {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  @media (max-width: $sm) {
    gap: 0px;
  }
  .topInfo {
    position: relative;

    :global(.bg) {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .header {
      display: flex;
      flex-direction: column;
      max-width: var(--const-max-page-width);
      width: 100%;
      margin: auto;
      padding-top: 32px;
      gap: 34px;
      @media (max-width: $sm) {
        gap: 16px;
        padding: 26px 24px 0 24px;
        width: auto;
      }
    }

  }

  .bottomInfo {
    max-width: var(--const-max-page-width);
    width: 100%;
    margin: auto;
  }
  .pkbox {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--text_white);
  }
  .title {
     font-family: "Lexend";;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: var(--text_white);
    @media (max-width: $sm) {
      font-size: 24px;
    }
  }
  .pkbreak {
     font-family: "Lexend";;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--text_white);
  }
}
