.indicatorContent {
  // height: 248px;
  overflow-y: scroll;
  padding-top: 14px;
}

.indicatorChild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // gap: 8px;
  padding: 0px 0;
  // border-bottom: solid 1px #E8E9EA;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 40px;
  .item {
    // width: calc((100% - 16px) / 3);
    :global {
      .icon-checkbox span {
        font-size: 14px;
      }
    }
  }
  &:last-child {
    border-bottom: none;
  }
}

.kineindicatorName{
  color: var(--text_1);
}
.indicatorContentTitleName{
  color: var(--text_2);

  

}
.indicatorCancel{
  // background: #F4F5F6;
  background: var(--text_1);
  cursor: pointer;
  color:  var(--text_4) !important;;
  // color: #fff !important;
  &:hover{
    // color:  var(--text_1) !important;
    // background:var(--text_1) !important;
  }
}
.indicatorPrimary{
  background: var(--brand);
  color: var(--text_1) !important;
  cursor: pointer;

  &:hover{
    color: var(--text_1) !important;
    background: var(--brand) !important;
      }
}
