.indicatorContent {
  height: 248px;
  overflow-y: scroll;
  padding-top: 16px;
}

.indicatorChild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 0;
  border-bottom: solid 1px var(--line-border);
  box-sizing: border-box;
  .item {
    width: calc((100% - 16px) / 3);
    :global {
      .icon-checkbox span {
        font-size: 14px;
      }
    }
  }
  &:last-child {
    border-bottom: none;
  }
}