// @import '@/core/styles/src/size-variables.scss';
.klineContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.klineContent {
  flex: 1;
}

// @media (max-width: $lg) {
//   .klineContainer {
//     height: 554px;
//   }
// }

// @media (max-width: $sm) {
//   .klineContainer {
//     height: 332px;
//   }
// }
