//颜色变量
$main_color: #13c2c2;
$main_font_color: #262626;
$dark_btnbg: #262626;
$dark_backbg: #000000;
$blue_font_color: #13c2c2;

$black_color: #000;
$sub_color: #7a7a7a;
$white_color: #fff;
$grey_color: #f9f9f9;
$line_color: #ffffff;
$gray_color: #939393;

$main_light_color: #e3cb93;
$raiOse: #f84960;
$falOl: #02c076;
$up_color: #6c7280;
$down_color: #cacfd7;
//
$dark_backbg: #0e0e0e;
$dark_btnbg: #232838;
$blue_line_color: #272a3c;
$blue_font_color: #657595;
$dark_placeholder: #47516b;
$dark_border: #1a1a1a;

@mixin fontDB {
  font-family: "DIN,DIN-Bold";
}
//
$line_bg: #eeeff2;
$line_gray_bg: #b6bcc7;

$baseWidth: 375;
$baseSize: $baseWidth/10;

//绿涨红跌 红涨绿跌 配置
$r1: var(--r1);
$f1: var(--f1);

/**字体*/
@font-face {
  font-family: "DIN, DIN-Medium";
  src: url("./DIN-Medium.woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DIN, DIN-Regular";
  src: url("./DIN-Regular.woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "PingFang SC, PingFang SC-Medium";
  src: url("./PingFang SC-Medium.woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "PingFang SC, PingFang SC-Regular";
  src: url("./PingFang SC-Regular.woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC, PingFang SC-Semibold";
  src: url("./PingFang SC, PingFang SC-Semibold.woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "PingFangSC, PingFangSC-Light";
  src: url("./PingFangSC, PingFangSC-Light.woff");
  font-weight: 100;
  font-display: swap;
}

@mixin fontDM {
  font-family: "DIN, DIN-Medium";
}

@mixin fontDR {
  font-family: "DIN, DIN-Regular";
}

@mixin fontPingFang {
  font-family: "PingFang SC, PingFang SC-Medium";
}

@mixin fontRegular {
  font-family: "PingFang SC, PingFang SC-Regular";
}

@function rem($val) {
  @if unitless($val) == true {
    @return #{$val/$baseSize}rem;
  } @else {
    @return #{($val / ($val * 0 + 1)) / $baseSize}rem;
  }
}

@mixin screen($res-max) {
  @media only screen and (max-width: #{$res-max}px), only screen and (max-device-width: #{$res-max}px) {
    html,
    body {
      font-size: #{($baseSize * ($res-max/$baseWidth))}px !important;
    }
  }
}

//mixins 混合
@mixin dis-sb {
  display: flex;
  justify-content: space-between;
}
@mixin dis-clm {
  display: flex;
  flex-direction: column;
}
@mixin dis-fs {
  display: flex;
  justify-content: flex-start;
}
@mixin dis-fe {
  display: flex;
  justify-content: flex-end;
}
@mixin dis-ct {
  display: flex;
  justify-content: center;
}
@mixin button(
  $width: 100,
  $height: 30,
  $bg: $main_color,
  $color: $main_font_color,
  $border-color: $main_color,
  $font-size: 14
) {
  width: rem($width);
  height: rem($height);
  background: $bg;
  color: $color;
  border: 1px solid $border-color;
  text-align: center;
  line-height: rem($height);
  border-radius: rem(3);
  font-size: rem($font-size);
  margin: auto;
}

//antd样式
.adm-input {
  background: $grey_color;
  // border: 1px solid $main_color;
  border-radius: rem(4);
  .adm-input-element {
    height: rem(42);
    padding: 0 rem(15);
    font-size: rem(14);
    background-color: $grey_color;
    font-family: "DIN, DIN-Medium";
    &::placeholder {
      font-size: rem(14);
    }
  }
}
//checkbox
.adm-checkbox .adm-checkbox-icon {
  border-radius: rem(3);
  width: rem(18);
  height: rem(18);
}
.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
  border: $main_color !important;
  background: $main_color !important;
}

.adm-tabs {
  @include dis-fs();
  flex-direction: column;
  // flex: 1;
}
.adm-tabs-header {
  border: 0 !important;
}

.adm-tabs-content {
  padding: 0 !important;
  flex: 1;
  overflow-y: auto;
}
.adm-tabs-tab-wrapper-stretch {
  display: flex;
  justify-content: center;
  .adm-tabs-tab {
    margin: 0;
    padding: rem(8) 0;
    color: #7a7a7a;
    font-weight: 400;
    font-size: rem(14);
    &.adm-tabs-tab-active {
      color: #262626;
    }
  }
}
.adm-swiper {
  height: 100% !important;
  overflow-y: auto !important;
}
.adm-list {
  --border-top: none !important;
}
.adm-list-item {
  padding: 0 !important;
}
.adm-list-item-content {
  padding: 0 rem(15) !important;
}
.adm-list-item-content-main {
  width: 100%;
}

//picker
.adm-space-item {
  font-size: rem(15);
  line-height: rem(40);
  color: $black_color !important;
}

.adm-space {
  height: rem(40px);
  display: flex !important ;
  justify-content: space-between;
  align-items: center;
}

.adm-space-item {
  line-height: 0;
  color: $grey_color;
}

.adm-picker-header-button {
  color: $main_color !important;
}
//下拉框高亮颜色
.adm-dropdown-item-highlight {
  color: $main_color !important;
}

.adm-dropdown-item .adm-dropdown-item-title {
  width: 100%;
  @include dis-sb();
}

.adm-collapse-panel-header .adm-list-item-content-main {
  font-size: rem(14) !important;
}

.adm-checkbox-content {
  font-weight: 400;
  font-family: PingFangSC, PingFangSC-Regular;
}

.adm-text-area-count {
  height: rem(12) !important;
  font-size: rem(12) !important;
  font-family: DIN, DIN-Medium !important;
  font-weight: 500 !important;
  line-height: rem(12) !important;
}
//modal
.adm-modal-content {
  width: rem(308);
}
.adm-space.adm-space-block {
  display: flex !important;
}

.adm-switch-checkbox {
  &:before {
    background: #7a7a7a !important;
  }
}
.adm-slider-thumb-container {
  width: rem(15) !important;
  height: rem(15) !important;
  background-color: #13c2c2;
  .adm-slider-thumb {
    display: none !important;
  }
}

//tabs
.adm-tabs-tab-list {
  height: 100%;
  padding-left: rem(15);
  .adm-tabs-tab-line {
    left: rem(-1);
  }
  .adm-tabs-tab-wrapper-stretch {
    flex: none;
    margin-right: 20px;
  }
}
.adm-slider-mark {
  display: none !important;
}

.adm-slider {
  padding: 0;
}

.adm-space-align-center .adm-space-item span {
  color: #cccccc !important;
  font-weight: 400 !important;
}


.adm-toast-mask .adm-toast-main {
  min-width: rem(120) !important;
  max-width: rem(255) !important;
}
.adm-toast-mask .adm-toast-main {
  word-break: break-word !important;
}

#fc_frame.fc-mobile-view.h-open-container {
  height: calc(100% - 36px) !important;
}
