.icon-checkbox {
  display: inline-flex;
  align-items: center;

  &.icon-checkbox-disabled {
    opacity: 0.6
  }

  &:not(.icon-checkbox-disabled) {
    cursor: pointer
  }

  & span {
    white-space: nowrap;
    margin-left: 2px;
    color: var(--text-primary, #FFF);
    font-size: 12px;
    font-weight: 500;
  }
}