// @import '@/styles/size-variables.scss';
.TimeSelectionContent {
  .headerChange {
    display: flex;

    .leftTitle {
      flex: 1;
      font-size: 14px;
      color: var(--text_1);
      font-style: normal;
      font-weight: 500;
    }
  }

  .timeListContent {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 30px;
  }

  .timeBtn {
    display: flex;
    padding: 1px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    color: var(--text_2);
    box-sizing: border-box;
    min-width: 48px;
    &:hover {
      border-radius: 8px;
      border-color:var(--brand) ;
      // background: var(--brand, rgba(255, 143, 52, 0.1));
      color: var(--brand);
    }
  }
}

.selectTimeBtn {
  border-radius: 8px;
  border: 1px solid var(--text_2);
  // color: var(--brand) !important;
  // background: var(--fill_bg_1, #f4f5f6);
}

.timeBtnContent {
  width: 248px;
  background-color: var(--fill_bg_1);
  border-radius: 16px;
 
  :global {
    .ant-popover-inner {
      padding: 16px !important;
      background: var(--fill_3);
      bottom: 0;
      border-radius: 16px;
    }

    .ant-popover-content {
      background-color: transparent;
      border-radius: 16px;
    }
  }
  &.dark {
    :global {
      .ant-popover-inner {
        background: var(--fill_3);
      }
    }
  }
}

.activeBtn {
  border-radius: 8px;
  border: 1px solid var(--brand);
  // background: var(--brand);
  color: var(--brand) !important;
}

.selectIcon {
  position: absolute;
  right: -1px;
  bottom: -1px;
}

.rightTitle {
  color: var(--brand);
  font-weight: 500;

  span {
    cursor: pointer;
  }
}

.reset {
  margin-right: 16px;
}

.KlineSelectIcon {
  height: calc(100% - 6px);
  display: flex;
  align-items: center;
  margin-left: -10px;
  cursor: pointer;

  svg {
    transition: all 0.2s ease;

    &:hover path {
      fill: var(--brand);
    }
  }
}

.arrowUp {
  svg {
    transform: rotate(-180deg);
  }
}

// @media screen and (max-width: $sm) {
//   .timeBtnContent {
//     width: 100vw;
//   }
//   .TimeSelectionContent {
//     .timeBtn {
//       width: calc((100% - 4 * 8px) / 5);
//     }
//   }
// }

// @media screen and (max-width: $xxs) {
//   .TimeSelectionContent {
//     .timeBtn {
//       width: calc((100% - 3 * 8px) / 4);
//     }
//   }
// }
