.klineChart {
  height: 100%;
  width: 100%;
}
.createOrderOverlay {
  display: flex;
  height: 20px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  justify-content: center;

  position: absolute;
  transform: translate(-50%, -50%);
  padding: 8px;
  z-index: 1000;
  border-radius: 4px 0px 0px 4px;
  background: var(--brand);
  color: var(--text-primary);
  text-align: center;
  font-family: 'HarmonyOS Sans SC';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
