@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .flex-center {
      @apply flex justify-center items-center;
    }
  }
  
  /**  tailwind .container 冲突 */
 .container {
    width: 100% !important;
    max-width: 100% !important;

 }

  :focus-visible {
    outline: none !important;
    /* 其他你想要覆盖的样式 */
  }
   
  @import url("react-loading-skeleton/dist/skeleton.css");
  @import url("xgplayer/dist/index.min.css");
  
  body {
    background-color: #101012;
    color: #e3e3e5;
  }
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  
  * {
    letter-spacing: 1px;
  }
  